<section ng-if="!user" class="ui page grid">

	<h1 class="home-title">Kit Cat</h1>

	<form class="ui form sixteen wide column" ng-submit="signin(user)">

		<h1 class="form-title">Sign in</h1>

		<div class="field">
		  <label for="pseudo">
			Username
		  </label>
		  <input placeholder="Username" type="text" id="pseudo" ng-model="user.username"/>
		</div>

		<div class="field">
		  <label for="mdp">
			Password
		  </label>
		  <input placeholder="Password" type="password" id="mdp" ng-model="user.password"/>
		</div>

		<button type ="submit" class="ui primary button">
			Go!
		</button>
		<p>{{errmsg}}</p>
	</form>
	
</section>

<section class="stream" ng-if="user" hm-swiperight="onSwipeRight">

	<canvas id="videoCanvas" stream></canvas>


	<div id="joy_contain">
		<div id="joystick">
			<div id="top" hm-tap="onTop"><p>T</p></div>
			<div id="left" hm-tap="onLeft"><p>L</p></div>
			<div id="right" hm-tap="onRight"><p>R</p></div>
			<div id="bottom" hm-tap="onBottom"><p>B</p></div>
		</div>
	</div>
</section>


<section id="stats" class="stats" ng-if="user" hm-swipeleft="onSwipeLeft">

	<h1>{{cat.name}}</h1>

	<div class="oneCat">
		<div ng-if="cat.level" class="ui primary button stats">Level<br>{{cat.level}}</div>
		<div ng-if="!cat.level" class="ui primary button stats">Level<br>1</div>
		<div ng-if="cat.timespent" class="ui primary button stats">Time played<br>{{cat.timespent}}s</div>
		<div ng-if="!cat.timespent" class="ui primary button stats">Time played<br>0s</div>
		<br>
		<div class="ui primary button" ng-click="logout()" >Log out</div>
	</div>

 </section> 