<section ng-if="!user">
	<form ng-submit="signin(user)">
		<input type="text" placeholder="Cat's name ..." name="username" id="username" ng-model="user.username" />
		<input type="password" placeholder="Cat's pass ..."  name="password" id="password" ng-model="user.password"/>

		<div>
			<button type="submit">Go!</button>
		</div>
		
	</form>
	{{errmsg}}
</section>

<section classe="stream" ng-if="user" hm-swiperight="onSwipeRight">

	<div ng-click="logout()">logout</div>

	<canvas id="videoCanvas" width="640" height="480" stream>
		<p>
			Please use a browser that supports the Canvas Element, like
			<a href="http://www.google.com/chrome">Chrome</a>,
			<a href="http://www.mozilla.com/firefox/">Firefox</a>,
			<a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
		</p>
	</canvas>

	<div class="button top" hm-tap="onTop" hm-doubletap="onTop">Top</div>
	<div class="button left" hm-tap="onLeft" hm-doubletap="onLeft">Left</div>
	<div class="button right" hm-tap="onRight" hm-doubletap="onRight">Right</div>
	<div class="button bottom" hm-tap="onBottom" hm-doubletap="onBottom">Bottom</div>
</section>